@import-normalize;

body {
  background-color: rgb(41, 40, 40);
  padding-top: 60px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(46, 45, 45);
}

.fullLogo {
  display: flex;
  flex-direction: row;
  color: rgb(129, 123, 123);
}

.logo {
  width: 60px;
  height: 60px;
  transform: translateY(-3px);
  margin-left: 3px;
}

.headerCurrentTrack {
  display: flex;
  justify-content: space-between;
  background-color:  rgb(41, 40, 40);
  margin-left: 170px;
  height: 60px;
  width: 40%;
  font-size: 10px;
}

.currentAlbum {
  max-width: 60px;
  max-height: 60px;
  background: #f2f2f2;
}

.currentAlbumImage {
  width: 60px;
  height: 60px;
}

.playIcons {
  display: flex;
  align-items: center;
  margin-right: 7px;
  color:  rgb(193, 189, 189);
  margin-right: 37px;
}

.playIcons i {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.currentSongInfo {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

.headerSong {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: rgb(193, 184, 184);
  width: 300px;
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.songInfo {
  color: rgb(129, 123, 123);
  font-size: 12px;
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
  margin-top: 3px;
}

.releaseContainer {
  margin: 20px;
  color: white;
}

.browse {
  color: white;
  font-size: 35px;
  border-bottom: solid .25px rgb(88, 86, 86);
  padding-bottom: 10px;
  margin: 20px;
}

.albumArt {
  width: 175px;
  height: 175px;
  border-radius: 3%;
}

p.artist {
  font-size: 12px;
  margin: 5px 0px 5px 0px;
  text-overflow: ellipsis;
}

p.title {
  font-size: 10px;
  color: rgb(129, 123, 123);
  margin: 5px 0px 5px 0px;
  text-overflow: ellipsis;
}

.fullReleaseInfo {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  padding-bottom: 20px;
  border-bottom: solid .25px rgb(88, 86, 86);
}

.releaseInfo {
  margin-right: 20px;
  width: 175px;
}

.linkPage {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.linkImage {
  width: 400px;
  height: 400px;
  border-radius: 3%;
  margin-top: 30px;
}

.linkFullInfo {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 75px;
}

.linkPageTitle {
  margin: 0px;
  margin-bottom: 2px;
  font-size: 25px;
  color: white;
}

.linkPageArtist {
  margin: 0px;
  font-size: 17px;
  margin-bottom: 10px;
  color: rgb(19, 80, 184);
}

.typeRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  border-bottom: solid .25px rgb(88, 86, 86);
  border-top: solid .25px rgb(88, 86, 86);
  color: rgb(129, 123, 123);
}

.songLinkPageFullInfo {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 60%;
  margin-top: 30px;
}

.songRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: solid .25px rgb(88, 86, 86);
  color: rgb(129, 123, 123); 
}

.songNumber {
  width: 20px;
}

.songTitle {
  color: white;
  width: 250px;
}

.songRowPlay {
  display: flex;
  justify-content: flex-start;
  width: 30px;
}

.songRowFirstHalf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
}

.songRowSecondHalf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 52.5%;
}

.songRowArtistName {
  width: 250px;
}

.add {
  font-size: 25px;
  width: 30px;
  color: rgb(19, 80, 184);
  font-weight: bold;
  transform: translateY(-3px);
  background: none;
  border: none;
}

.songLinkPage {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.songLinkPageImageContainer {
  border-radius: 3%;
}

.songLinkPageImage {
  width: 350px;
  height: 350px;
  border-radius: 3%;
  margin-top: 30px;
}


.songLinkPageMainTitle {
  margin: 0px;
  margin-bottom: 5px;
  font-size: 25px;
  color: white;
}

.songLinkPageArtist {
  margin: 0px;
  font-size: 17px;
  margin-bottom: 10px;
  color: rgb(19, 80, 184);
}

.songLinkPageTypeRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  border-bottom: solid .25px rgb(88, 86, 86);
  border-top: solid .25px rgb(88, 86, 86);
  color: rgb(129, 123, 123);
}

.songLinkPageNumber {
  width: 20px;
}

.songRowLinkPageFirstHalf {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}

.songLinkPageRowPlay {
  display: flex;
  justify-content: flex-start;
  width: 30px;
}

.songLinkPageTitle {
  color: white;
  font-size: 15px;
  width: 200px;
}

.songRowLinkPageSecondHalf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 51.5%;
}

.songRowLinkPageArtist {
  display: flex;
  align-content: center;
}

.songRowLinkPage {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 60px;
  border-bottom: solid .25px rgb(88, 86, 86);
  color: rgb(129, 123, 123); 
}

.addLinkPage {
  font-size: 25px;
  width: 30px;
  color: rgb(19, 80, 184);
  font-weight: bold;
  transform: translateY(-1px);
  background: none;
  border: none;
}
